---
BasedOnStyle: Google
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
BinPackParameters: true
BinPackArguments: true
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
---
